<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="fun()">post request</button>
    <script>
      function fun() {
          $.post('/', {
              username: "admin",
              password: "admin"
          }, function (data) {
              if(data.code == 0){
                  alert("success: "+data.msg);
              }else{
                  alert("fail: "+data.msg);
              }
          })
      }
    </script>
  </body>
</html>
